.banner {
    color: aliceblue;
    text-align: left;
    background-color: maroon;
    padding: 20px;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.body {}

.card {
    width: 250px;
    height: 350px;
}

.card-img-container {
    position: relative;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .hover-image {
    opacity: 1;
}

.card:hover .default-image {
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
    transition-duration: 0.6s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.dim-on-hover {
    transition: filter 0.3s ease;
}

.dim-on-hover:hover {
    filter: brightness(60%);
}

.round-image {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.dim-on-hover {
    transition: filter 0.3s ease;
}

.dim-on-hover:hover {
    filter: brightness(0.7);
}

.name-container {
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.profile-card {
    text-align: center;
}

.tab-pane .card {

}

.image-container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.round-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
