.banner {
    color: aliceblue;
    text-align: left;
    background-color: maroon;
    padding: 20px;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.body {}

.card {
    width: 250px;
    height: 350px;
}

/* Ensure both images are stacked on top of each other */
.card-img-container {
    position: relative;
}

/* Default image visible */
.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

/* Hide the second image initially */
.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* On hover, make the second image visible */
.card:hover .hover-image {
    opacity: 1;

}

/* On hover, hide the first image */
.card:hover .default-image {
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition-duration: 0.7s;
}

.dim-on-hover {
    transition: filter 0.3s ease;
}


.dim-on-hover:hover {
    filter: brightness(60%);
}

.round-image {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block; /* Ensure it's a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.dim-on-hover {
    transition: filter 0.3s ease;
}

.dim-on-hover:hover {
    filter: brightness(0.7);
}

.name-container {
    text-align: center; /* Center the name */
    margin-top: 10px; /* Add some space between the image and name */
    color: rgb(0, 0, 0); /* Set the text color */
}

.profile-card {
    text-align: center; /* Center everything in the card */
}
.tab-pane .card {
    /* Your desired card styles */
  }
  /* Ensure the image is circular */
.image-container {
    width: 100%; /* Ensure full width for the container */
    height: 0;
    padding-top: 100%; /* Aspect ratio 1:1 (square) */
    position: relative;
    overflow: hidden; /* Hide anything that overflows */
  }
  
  .round-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area without distortion */
    border-radius: 50%; /* Make it circular */
  }
  